
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url(https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAraAAAAJGIwMmZmY2Y0LTI2NTItNDRiZC1iY2UzLTQxNGNiYTRlMmMyNQ.jpg); background-repeat: no-repeat, repeat; height: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<div class="col-md-5 p-lg-5 mx-auto my-5">
  <h1 class="display-4"><span style="font-family: 'Archivo+Black', sans-serif; font-weight: bold; font-size:65px;">About</span> <span style="font-family: 'Raleway', sans-serif; font-size:65px; color:#17a2b8">Our</span><span style="font-family: 'Raleway', sans-serif; font-size:65px;"><br>J&nbsp;&nbsp;o&nbsp;&nbsp;e&nbsp;&nbsp;s </span></h1>
  <p class="lead font-weight-normal">We're average Joes<br> Just like you.</p>
</div>

<div class="product-device box-shadow d-none d-md-block"></div>
<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<div class="row">
    <p style="color:white"> &nbsp;&nbsp; <br> &nbsp;&nbsp;</p>
</div>
<div class="container">

<div class="row">
  <div class="col-sm-8">
    <h2 class="mt-4">What We Do</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
    </p>
  </div>
  <div class="col-sm-4">
    <h2 class="mt-4">Contact Us</h2>
    <address>
      <strong>Average Joe Loans</strong>
      <br>3481 Melrose Place
      <br>Beverly Hills, CA 90210
      <br>
    </address>
    <address>
      <p>Phone: (123) 456-7890<p>
      <p>Email: <a href="mailto:#">joe@averagejoeloans.com</a><p>
    </address>
  </div>
</div>
<!-- /.row -->
<br>
<h2 class="mt-4">Who we are</h2>
<div class="row">
  <div class="col-sm-4 my-4">
    <div class="card">
      <img class="card-img-top" style="width:348px;" src="https://www.juullabs.com/site/wp-content/uploads/2017/04/ALAN_029_R3-1400x933.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Ethan Lee</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <img class="card-img-top" style="width:348px;" src="https://www.juullabs.com/site/wp-content/uploads/2017/04/NEMO_014_R3-1400x933.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Nate Miller</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <img class="card-img-top" style="width:348px;" src="https://www.juullabs.com/site/wp-content/uploads/2017/04/CLAIRE_025_R3-1400x933.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Julie Brown</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-sm-4 my-4">
    <div class="card">
      <img class="card-img-top" style="width:348px;" src="https://www.juullabs.com/site/wp-content/uploads/2017/04/CARMELITA_007_R3-1400x933.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Melissa Crowder</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <img class="card-img-top" style="width:348px;" src="https://www.juullabs.com/site/wp-content/uploads/2017/04/ADAM_DESOUZA_050-1400x933.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Miguel Lopez</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <img class="card-img-top" style="width:348px;" src="https://www.juullabs.com/site/wp-content/uploads/2017/04/KELLY_LONG_055_R4-1400x933.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Bree Turner</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->

</div>
<div class="row">
    <p style="color:white"> &nbsp;&nbsp; <br> &nbsp;&nbsp;</p>
</div>