<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url(https://www.wtrscramp.com/wp-content/uploads/2017/03/contact.jpg); background-repeat: no-repeat, repeat; height: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<div class="col-md-5 p-lg-5 mx-auto my-5">
  <h1 class="display-4"><span style="font-family: 'Archivo+Black', sans-serif; font-weight: bold; font-size:65px;">Contact</span> <span style="font-family: 'Raleway', sans-serif; font-size:65px; color:#17a2b8">Our</span><span style="font-family: 'Raleway', sans-serif; font-size:65px;"><br>J&nbsp;&nbsp;o&nbsp;&nbsp;e&nbsp;&nbsp;s </span></h1>
  <p class="lead font-weight-normal">Our Joes want to hear from you. <br> No really, they do.</p>
</div>

<div class="product-device box-shadow d-none d-md-block"></div>
<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<div class="row">
    <p style="color:white"> &nbsp;&nbsp; <br> &nbsp;&nbsp;</p>
</div>
<div class="container">
    <div class="row">
    <div class="col-sm-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26435.07535494873!2d-118.37542019897572!3d34.08529125123402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2becdff66de81%3A0x4a9d60977f439418!2sMelrose%2C+Los+Angeles%2C+CA!5e0!3m2!1sen!2sus!4v1518749039815" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-4">
    <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 text-center">
          <h2 class="section-heading text-uppercase">We work here</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-11">
        <br>
        <address>
      <strong>Average Joe Loans</strong>
      <br>3481 Melrose Place
      <br>Beverly Hills, CA 90210
      <br>
    </address>
    <address>
      <p>Phone: (123) 456-7890<p>
      <p>Fax: (123) 456-7815<p>
      <p>Email: <a href="mailto:#">joe@averagejoeloans.com</a><p>
    </address>
    <br>
        </div>
      </div>
    </div>
  </section>
    </div>
    </div>
</div>
<div class="row">
    <p style="color:white"> &nbsp;&nbsp; <br> &nbsp;&nbsp;</p>
</div>
<section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Here, we made it easy for you</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea rows="5" class="form-control" id="message" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
    <p style="color:white"> &nbsp;&nbsp; <br> &nbsp;&nbsp;</p>
</div>