*{
    font-family: 'Raleway', sans-serif important!;
}

h1{
    font-family: 'Handlee', cursive, important!;
    color: grey important!;
    font-weight: bold important!;
    font-size: 36px important!;
}
/* unvisited link */
/* mouse over link */
a:hover {
    color: gray, important!;
}

/* selected link */
a:active {
    color: rgb(11, 11, 110), important!;
    font-weight: bold, important;
} 
